<!DOCTYPE html>

<html>

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>First Blog</title>
  <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
    crossorigin="anonymous">
    </script>
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS"
    crossorigin="anonymous">
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.bundle.min.js" integrity="sha384-zDnhMsjVZfS3hiP7oCBRmfjkQC4fzxVxFhBx8Hkz2aZX8gEvA/jsP3eXRCvzTofP"
    crossorigin="anonymous"></script>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/"
    crossorigin="anonymous">
</head>

<body style="background-color: #fff;">
  <!--Navbar Wrapper-->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav customNav mdNavChange">
        <li class="nav-item active">
          <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Link</a>
        </li>
        <li ngbDropdown class="nav-item dropdown">
          <div ngbDropdown class="d-inline-block">
            <a id="dropdownBasic1" class="nav-link" ngbDropdownToggle>Dropdown</a>
            <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
              <button class="dropdown-item">Action - 1</button>
              <button class="dropdown-item">Another Action</button>
              <button class="dropdown-item">Something else is here</button>
            </div>
          </div>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled" href="#">Disabled</a>
        </li>
      </ul>


      <ul class="navbar-nav mr-auto ml-auto customNav mdNavChange mdNavHide">
        <li class="nav-item active">
          <img src="./img/bahman logo.png" class="navLogo" />
        </li>
      </ul>


      <ul class="navbar-nav ml-auto customNav mdNavChange">
        <li class="nav-item active">
          <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Link</a>
        </li>
        <li ngbDropdown class="nav-item dropdown">
          <div ngbDropdown class="d-inline-block">
            <a id="dropdownBasic1" class="nav-link" ngbDropdownToggle>Dropdown</a>
            <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
              <button class="dropdown-item">Action - 1</button>
              <button class="dropdown-item">Another Action</button>
              <button class="dropdown-item">Something else is here</button>
            </div>
          </div>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled" href="#">Disabled</a>
        </li>
      </ul>
    </div>
  </nav>
  <!--/.Navbar Wrapper-->

  <div  style="min-height: 100vh; width: 100%;">
    <ngb-carousel *ngIf="images" style="min-height: 100vh; width: 100%;">
      <ng-template ngbSlide>
        <div class="d-block w-100" style='height: 100vh; background-image: url("https://mdbootstrap.com/img/Photos/Slides/img%20(53).jpg"); background-size: cover;'></div>
        <div class="carousel-caption carouselCustomCaption">
          <h3 class="h3-responsive">Light mask</h3>
          <p class="carouselCustomDescription">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse a pellentesque nunc. Etiam
            vitae diam erat. Integer quis diam eget elit feugiat tristique nec vitae nulla. Ut auctor sem
            rhoncus sapien dapibus, sed porttitor velit mattis. Praesent molestie sapien arcu, sed lacinia
            urna tristique a. Nunc iaculis ipsum magna, quis porta turpis
          </p>
          <button type="button" class="btn btn-dark w-50 carouselCustomButton">Read More!</button>
        </div>
      </ng-template>
      <ng-template ngbSlide>
        <div class="d-block w-100" style='height: 100vh; background-image: url("https://mdbootstrap.com/img/Photos/Slides/img%20(54).jpg"); background-size: cover;'></div>
        <div class="carousel-caption carouselCustomCaption">
          <h3 class="h3-responsive">Light mask</h3>
          <p class="carouselCustomDescription">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse a pellentesque nunc. Etiam
            vitae diam erat. Integer quis diam eget elit feugiat tristique nec vitae nulla. Ut auctor sem
            rhoncus sapien dapibus, sed porttitor velit mattis. Praesent molestie sapien arcu, sed lacinia
            urna tristique a. Nunc iaculis ipsum magna, quis porta turpis
          </p>
          <button type="button" class="btn btn-dark w-50 carouselCustomButton">Read More!</button>
        </div>
      </ng-template>
      <ng-template ngbSlide>
        <div class="d-block w-100" style='height: 100vh; background-image: url("https://mdbootstrap.com/img/Photos/Slides/img%20(55).jpg"); background-size: cover;'></div>
        <div class="carousel-caption carouselCustomCaption">
          <h3 class="h3-responsive">Light mask</h3>
          <p class="carouselCustomDescription">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse a pellentesque nunc. Etiam
            vitae diam erat. Integer quis diam eget elit feugiat tristique nec vitae nulla. Ut auctor sem
            rhoncus sapien dapibus, sed porttitor velit mattis. Praesent molestie sapien arcu, sed lacinia
            urna tristique a. Nunc iaculis ipsum magna, quis porta turpis
          </p>
          <button type="button" class="btn btn-dark w-50 carouselCustomButton">Read More!</button>
        </div>
      </ng-template>
      <ng-template ngbSlide>
        <div class="d-block w-100" style='height: 100vh; background-image: url("https://mdbootstrap.com/img/Photos/Slides/img%20(56).jpg"); background-size: cover;'></div>
        <div class="carousel-caption carouselCustomCaption">
          <h3 class="h3-responsive">Light mask</h3>
          <p class="carouselCustomDescription">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse a pellentesque nunc. Etiam
            vitae diam erat. Integer quis diam eget elit feugiat tristique nec vitae nulla. Ut auctor sem
            rhoncus sapien dapibus, sed porttitor velit mattis. Praesent molestie sapien arcu, sed lacinia
            urna tristique a. Nunc iaculis ipsum magna, quis porta turpis
          </p>
          <button type="button" class="btn btn-dark w-50 carouselCustomButton">Read More!</button>
        </div>
      </ng-template>
    </ngb-carousel>
  </div>




  <div class="container">
    <div style="margin-top: 50px; margin-bottom: 50px;">
      <owl-carousel [options]="mySlideOptions" [items]="images" [carouselClasses]="['owl-theme', 'sliding']" >
        <div class="item" *ngFor="let image of mySlideImages;let i = index">
         <div style="width: 200px; height:200px; background-image: url('https://mdbootstrap.com/img/Photos/Slides/img%20(60).jpg'); background-size: cover;">
         </div>
        </div>
       </owl-carousel>
    </div>

    <div class="postSection" style="margin-bottom: 50px; display: flex; justify-content: space-between; flex-wrap: wrap;">
      <div class="postItem" style="background-color: #fff;">
        <div class="postImage w-100" style='height: 200px; background-image: url("https://mdbootstrap.com/img/Photos/Slides/img%20(57).jpg"); background-size: cover;'>
          <span class="bg-danger text-light" style="padding:5px; margin-left: -2px; margin-top: -3px;">New Android
            Post!</span>
        </div>
        <div class="rounded-circle" style='border: #fff 3px solid; width: 80px; height: 80px; background-image: url("./img/myAvatar.png"); background-size: cover; margin-top: -40px; margin-left: 20px;'></div>
        <div class="postInfo" style="margin-top: -30px; margin-left: 120px; font-size: 15px; display: flex;"><span>By:
            <a href="#">Bahman Shadmehr</a></span><span class="postDate ml-auto" style="margin-right: 20px;">January
            24th, 2019</span></div>
        <div class="postTitle" style="margin: 10px; font-size: 24px;"><a href="#">Khow the different languages</a></div>
        <div class="postCategoriez" style="font-size: 15px; margin: 10px 10px;"><span><a href="#">Python</a> | <a href="#">Web
              Design</a> | <a href="#">Android</a></span></div>
        <div class="postDescription" style="padding: 10px;">
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse a pellentesque nunc. Etiam vitae diam
            erat. Praesent molestie sapien arcu, sed lacinia urna tristique a. Nunc iaculis ipsum
            magna, quis porta turpis</p>
        </div>
        <div class="postFooter">
          <button type="button" class="btn btn-outline-secondary" style="margin-left: 10px; margin-bottom: 10px; padding: 10px 15px;">Read
            More!</button>
          <span class="commentButtom text-secondary" style="margin-left: 15%; font-size: 25px; color: #428bca;"><i
              class="far fa-comments"></i> <i> 5</i></span>
        </div>
      </div>
      <div class="postItem" style="background-color: #fff;">
        <div class="postImage w-100" style='height: 200px; background-image: url("https://mdbootstrap.com/img/Photos/Slides/img%20(58).jpg"); background-size: cover;'></div>
        <div class="rounded-circle" style='width: 80px; height: 80px; background-image: url("./img/myAvatar.png"); background-size: cover; margin-top: -40px; margin-left: 20px;'></div>
        <div class="postInfo" style="margin-top: -30px; margin-left: 120px; font-size: 15px; display: flex;"><span>By:
            <a href="#">Bahman Shadmehr</a></span><span class="postDate ml-auto" style="margin-right: 20px;">January
            24th, 2019</span></div>
        <div class="postTitle" style="margin: 10px; font-size: 24px;"><a href="#">Khow the different languages</a></div>
        <div class="postCategoriez" style="font-size: 15px; margin: 10px 10px;"><span><a href="#">Python</a> | <a href="#">Web
              Design</a> | <a href="#">Android</a></span></div>
        <div class="postDescription" style="padding: 10px;">
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse a pellentesque nunc. Etiam vitae diam
            erat. Integer quis diam eget elit feugiat tristique nec vitae nulla. Ut auctor sem rhoncus sapien dapibus,
            sed porttitor velit mattis. Praesent molestie sapien arcu, sed lacinia urna tristique a. Nunc iaculis ipsum
            magna, quis porta turpis</p>
        </div>
        <div class="postFooter">
          <button type="button" class="btn btn-outline-primary" style="margin-left: 10px; margin-bottom: 10px;">Read
            More!</button>
          <span class="commentButtom" style="margin-left: 15%; font-size: 25px; color: #428bca;"><i class="far fa-comments"></i></span>
        </div>
      </div>
      <div class="postItem" style="background-color: #fff;">
        <div class="postImage w-100" style='height: 200px; background-image: url("https://mdbootstrap.com/img/Photos/Slides/img%20(50).jpg"); background-size: cover;'></div>
        <div class="rounded-circle" style='width: 80px; height: 80px; background-image: url("./img/myAvatar.png"); background-size: cover; margin-top: -40px; margin-left: 20px;'></div>
        <div class="postInfo" style="margin-top: -30px; margin-left: 120px; font-size: 15px; display: flex;"><span>By:
            <a href="#">Bahman Shadmehr</a></span><span class="postDate ml-auto" style="margin-right: 20px;">January
            24th, 2019</span></div>
        <div class="postTitle" style="margin: 10px; font-size: 24px;"><a href="#">Khow the different languages</a></div>
        <div class="postCategoriez" style="font-size: 15px; margin: 10px 10px;"><span><a href="#">Python</a> | <a href="#">Web
              Design</a> | <a href="#">Android</a></span></div>
        <div class="postDescription" style="padding: 10px;">
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse a pellentesque nunc. Etiam vitae diam
            erat.</p>
        </div>
        <div class="postFooter">
          <button type="button" class="btn btn-outline-primary" style="margin-left: 10px; margin-bottom: 10px;">Read
            More!</button>
          <span class="commentButtom" style="margin-left: 15%; font-size: 25px; color: #428bca;"><i class="far fa-comments"></i></span>
        </div>
      </div>
      <div class="postItem" style="background-color: #fff;">
        <div class="postImage w-100" style='height: 200px; background-image: url("https://mdbootstrap.com/img/Photos/Slides/img%20(51).jpg"); background-size: cover;'></div>
        <div class="rounded-circle" style='width: 80px; height: 80px; background-image: url("./img/myAvatar.png"); background-size: cover; margin-top: -40px; margin-left: 20px;'></div>
        <div class="postInfo" style="margin-top: -30px; margin-left: 120px; font-size: 15px; display: flex;"><span>By:
            <a href="#">Bahman Shadmehr</a></span><span class="postDate ml-auto" style="margin-right: 20px;">January
            24th, 2019</span></div>
        <div class="postTitle" style="margin: 10px; font-size: 24px;"><a href="#">Khow the different languages</a></div>
        <div class="postCategoriez" style="font-size: 15px; margin: 10px 10px;"><span><a href="#">Python</a> | <a href="#">Web
              Design</a> | <a href="#">Android</a></span></div>
        <div class="postDescription" style="padding: 10px;">
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse a pellentesque nunc. Etiam vitae diam
            erat. Integer quis diam eget elit feugiat tristique nec vitae nulla. Ut auctor sem rhoncus sapien dapibus,
            sed porttitor velit mattis. Praesent molestie sapien arcu, sed lacinia urna tristique a. Nunc iaculis ipsum
            magna, quis porta turpis</p>
        </div>
        <div class="postFooter">
          <button type="button" class="btn btn-outline-primary" style="margin-left: 10px; margin-bottom: 10px;">Read
            More!</button>
          <span class="commentButtom" style="margin-left: 15%; font-size: 25px; color: #428bca;"><i class="far fa-comments"></i></span>
        </div>
      </div>
      <div class="postItem" style="background-color: #fff;">
        <div class="postImage w-100" style='height: 200px; background-image: url("https://mdbootstrap.com/img/Photos/Slides/img%20(55).jpg"); background-size: cover;'></div>
        <div class="rounded-circle" style='width: 80px; height: 80px; background-image: url("./img/myAvatar.png"); background-size: cover; margin-top: -40px; margin-left: 20px;'></div>
        <div class="postInfo" style="margin-top: -30px; margin-left: 120px; font-size: 15px; display: flex;"><span>By:
            <a href="#">Bahman Shadmehr</a></span><span class="postDate ml-auto" style="margin-right: 20px;">January
            24th, 2019</span></div>
        <div class="postTitle" style="margin: 10px; font-size: 24px;"><a href="#">Khow the different languages</a></div>
        <div class="postCategoriez" style="font-size: 15px; margin: 10px 10px;"><span><a href="#">Python</a> | <a href="#">Web
              Design</a> | <a href="#">Android</a></span></div>
        <div class="postDescription" style="padding: 10px;">
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse a pellentesque nunc. Etiam vitae diam
            erat. Integer quis diam eget elit feugiat tristique nec vitae nulla. Ut auctor sem rhoncus sapien dapibus,
            sed porttitor velit mattis. Praesent molestie sapien arcu, sed lacinia urna tristique a. Nunc iaculis ipsum
            magna, quis porta turpis</p>
        </div>
        <div class="postFooter">
          <button type="button" class="btn btn-outline-primary" style="margin-left: 10px; margin-bottom: 10px;">Read
            More!</button>
          <span class="commentButtom" style="margin-left: 15%; font-size: 25px; color: #428bca;"><i class="far fa-comments"></i></span>
        </div>
      </div>
    </div>
  </div>

</body>

</html>